.top-section {
    position: relative;
    height: 450px;
    background: {
        image: url("/images/b3.gif"); //8, 9, 10, 2, 3, 4
        repeat: no-repeat;
        size: cover;
        position: center center;
    }

    .main {
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: {
            image: url("/images/black.jpg");
            size: cover;
        }
        opacity: .5;
        z-index: 10;
    }

    &.afisha {
        background-image: url("/images/b2.gif");
    }
    &.band {
        background-image: none;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: {
                image: url("/images/b4.gif");
                repeat: no-repeat;
                size: cover;
                position: center center;
            }
            z-index: 5;
            filter: grayscale(100%);
        }
    }
    &.music {
        background-image: url("/images/b8.gif");
    }
    &.video {
        background-image: url("/images/b9.gif");
    }
    &.contacts {
        background-image: url("/images/b10.gif");
    }

    &__content {
        position: relative;
        z-index: 20;
        height: 100%;
        padding: 0 0 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        color: white;
    }

    &__title {
        font: {
            size: 32px;
            weight: 500;
        }
        text: {
            transform: uppercase;
        }
        letter-spacing: 2px;

        border-bottom: 2px solid white;
        padding-bottom: 2px;
    }

    &__logo {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .top-section {
        height: auto;

        &__header {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        &__title {
            font-size: 25px;
        }
    }
}


