mixin footer()
    footer.footer
        .footer__top
            include ./socials
            +socials('socials__footer')

        .footer__bottom
            span © Штучний Інтелект - Офіційний сайт, 2018
