mixin header(classes)
    header(class=`header ${classes}`)
        nav.nav.header__nav
            a.nav__link(href="/blog") Новини
            a.nav__link(href="/afisha") Афіша
            a.nav__link(href="/band") Група
            a.nav__link(href="/") Музика
            a.nav__link(href="/video") Відео
            a.nav__link(href="/contacts") Контакти

        include ./socials
        +socials()
