mixin socials(classes)
    div(class=`socials ${classes}`)
        a.socials__link(href="https://www.instagram.com/wibandofficial/" target="_blank")
            svg
                use(xlink:href="/build/images/sprite.svg#instagram-logo")
        a.socials__link(href="https://www.facebook.com/wibandofficial/" target="_blank")
            svg
                use(xlink:href="/build/images/sprite.svg#facebook-logo")
        a.socials__link(href="https://www.youtube.com/channel/UCFPECcjKvTeivsH5ZTZ2LWw" target="_blank")
            svg
                use(xlink:href="/build/images/sprite.svg#youtube-logo")
        a.socials__link(href="https://soundcloud.com/wiband" target="_blank")
            svg
                use(xlink:href="/build/images/sprite.svg#soundclound-logo")
