extends components/layout

block variables
    - some = false;

block page-title
    | Штучний Інтелект Rock Band - #{title}

block page

    include components/topSection
    +topSection('band', 'Група')

    -
        var members = [
            {
                name: 'Олександр Сєркін',
                position: 'Guitar',
            },
            {
                name: 'Сергій Сєркін',
                position: 'Bass',
            },
            {
                name: 'Людмила Антохі',
                position: 'Vocals',
            },
            //- {
            //-     name: 'Тарас Ємець',
            //-     position: 'Drums',
            //- }
        ];


    .main
        section.band-section
            .band-section__img
                img(src="/images/band/band1.jpg" alt="")

            .members.band-section__members
                each member in members
                    .members__member
                        .members__name= member.name
                        .members__position= member.position

            .band-section__description
                | Штучний Iнтелект - молода музична формацiя, створена двома братами-адептами цифрового мислення та послiдовниками традицiй спражнього альтернативного українського року.
                br
                br
                | Зустрiвшись iз потужним голосом талановитої спiвачки "штучний iнтелект" оживає, "вiдкриває почуття" й отримує "перший подих" в однойменному музичному альбомi, що з перших рифiв змушує серце битися частiше, а вибухова сила накриває хвилею драйву, енергетики та здiймає "наче крила".
                br
                br
                | У своїй творчостi гурт торкається вiчних питань, якi в певні перiоди життя кожен ставить собі та іншим. У текстах пісень є кохання і біль, доля і надія. А найголовнiше - сила долати всі перешкоди на своєму шляху.
                br
                br
                | Якщо ти потрапиш до мережi "Штучного інтелекту", тримай себе, адже вiдчуєш, як "струм мiж нами б'є", або лети до самих глибин свого серця!

            .band-section__img
                img(src="/images/band/band2.jpg" alt="")

            .band-section__description
                | Гурт "Штучний Інтелект" заснований братами Сєркіними в Одесi. Олександр та Сергій Сєркіни вже записали два альбоми, але у складі англомовної групи SPIRITZ.
                br
                br
                | Разом iз Людмилою Антохі, яка вже зарекомендувала себе як учасниця українського X-Factor та солістка проекту Voice of the Sympho Rock, вони випускають перший україномовний альбом "Перший подих".
                br
                br
                | Релiз альбому вiдбувається на всiх стрiмiнг-платформах: iTunes, Amazon, Spotify, Google Play та iн. Сингл "Лечу" потрапляє до Топ-чартiв провiдних українських радiостанцiй.
                br
                br
                | Музиканти приймають участь у масшабних проектах симфонiчного року на перших сценах країни (Нацiональний палац мистецтв "Україна" та iн.), фестивалях, телевiзiйних проектах.


