extends components/layout

block variables
    - some = false;

block page-title
    | Штучний Інтелект Rock Band - #{title}

block page

    include components/topSection
    +topSection('band', 'Група')

    -
        var members = [
            {
                name: 'Олександр Сєркін',
                position: 'Guitar',
                img: 'https://scontent.fiev4-1.fna.fbcdn.net/v/t1.0-9/31870888_1666943873374647_6455991880667627520_o.jpg?_nc_cat=0&oh=8580c9d2f4d774a627cc341cd0025c15&oe=5B866B85'
            },
            {
                name: 'Сергій Сєркін',
                position: 'Bass',
                img: 'https://instagram.fiev4-1.fna.fbcdn.net/vp/28774411b53957ff14716623dc846d5a/5BD143A7/t51.2885-15/fr/e15/s1080x1080/31136679_476054209476288_7450310215947255808_n.jpg'
            },
            {
                name: 'Людмила Антохі',
                position: 'Vokal',
                img: 'https://instagram.fiev4-1.fna.fbcdn.net/vp/46a5212f0f87a22aeed274b903647125/5BD27680/t51.2885-15/fr/e15/s1080x1080/35998655_363032994220844_2190939216567861248_n.jpg'
            },
            {
                name: 'Влад Короленко',
                position: 'Drums',
                img: 'https://instagram.fiev4-1.fna.fbcdn.net/vp/86ab530c3b282da803d8752d2d16a3d8/5BE77BE8/t51.2885-15/fr/e15/s1080x1080/31694910_2065531667068215_5233762755093200896_n.jpg'
            }
        ];


    .main
        section.band-section
            .members
                each member in members
                    .members__member
                        .members__photo(style=`background-image: url(${member.img})`)
                        .members__name= member.name
                        .members__position= member.position

            .band-section__description
                |  Группа Штучний Інтелект заснована братима Сєркіними влітку 2017 року. Олександр та Сергій Сєркіни вже записали 2 альбоми, але у складі англомовної группи SPIRITZ. Сумісно з Людмилою Антохі, яка вже зарекомендувала себе як учасниця українського X-Factor та проекту Voice of the SympoRock, вони починають роботу над першим україномовним альбомом. З часом к ним приєднується ударник Влад Короленко, який з Олександром і Людмилою вже грають у проекті Voice of the SympoRock.



