extends components/layout

block variables
    - some = false;

block page-title
    | #{title}

block page

    include components/topSection
    +topSection('blog', 'Новини')

    -
        var articles = [
            {
                title: "Загальна прем'єра сингла Лечу",
                date: '14 липня',
                body: "Загальна прем'єра сингла Лечу відбудеться 14 липня!"
            },
            {
                title: "Передпрем'єрна презентація синглу Лечу на Джем ФМ",
                date: '14 липня',
                body: 'В пятницю 14 липня презентація на Джем ФМ. Слідкуємо та підтримуємо нас на сайті Джем ФМ!'
            },
            {
                title: "Передпрем'єрна презентація синглу Лечу на Країні ФМ",
                date: '12 липня',
                body: "В четвер 12 липня на Країні ФМ відбудеться передпрем'єрна презентація в межах 22-23 з повторами в суботу(19-20) і неділю(16-17)"
            }

        ];

    include components/blog
    +blog(articles)

