extends components/layout

block variables
    - some = false;

block page-title
    | Штучний Інтелект Rock Band - #{title}

block page

    include components/topSection
    +topSection('blog', 'Новини')

    -
        var articles = [
            {
                id: "1",
                title: "Загальна прем'єра сингла Лечу",
                date: '14 липня',
                body: "Загальна прем'єра сингла Лечу відбудеться 14 липня!"
            },
            {
                id: "2",
                title: "Передпрем'єрна презентація синглу Лечу на Джем ФМ",
                date: '14 липня',
                body: 'В субботу 14 липня презентація на Джем ФМ. Слідкуємо та підтримуємо нас на сайті Джем ФМ!'
            },
            {
                id: "3",
                title: 'Релiз дебютного альбому "Перший подих"',
                date: '18 червня',
                body: "Слухай на усiх стрiмiнг-платформах: iTunes, Spotify, Google Play, Amazon та iн.",
                img: '/images/blog/11.jpg'
            },
            {
                id: "4",
                title: 'Презентацiя альбому "Перший подих" в Одесi',
                date: '7 липня',
                body: "",
                img: '/images/blog/blog2.jpg'
            },
            {
                id: "5",
                title: "Передпрем'єрна презентація синглу Лечу на Країні ФМ",
                date: '12 липня',
                body: "В четвер 12 липня на Країні ФМ відбудеться передпрем'єрна презентація в межах 22-23 з повторами в суботу(19-20) і неділю(16-17)"
            },
            {
                id: "6",
                title: "Штучний Iнтелект на розiгрiвi шоу Voice Of The Sympho Rock",
                date: '22 cерпня',
                body: '<iframe width="560" height="315" src="https://www.youtube.com/embed/VpFsVlc-8dI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
            },
            {
                id: "7",
                title: 'Виступ у симфонiчному шоу в Нацiональному палацi мистецтв "Україна"',
                date: '12 грудня',
                body: '',
                img: '/images/blog/blog3.jpg'
            },
            {
                id: "8",
                title: 'Новорiчний концерт на 7 каналi',
                date: '31 грудня',
                body: '<iframe width="560" height="315" src="https://www.youtube.com/embed/VmnNlmN7-RM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
            }
        ];

        articles.sort(function(a, b) {
            return b.id - a.id;
        });

    include components/blog
    +blog(articles)

